

<div class="text-center">
    <h1>Welcome User</h1>
</div>

<div class="text-center">
    <button type="button" class="btn btn-primary btn-lg"><a asp-action="Index" asp-controller="Item">View Grocery List</a></button>
</div>
