@model GroceryList.Models.Item

<div class="text-center">
    <h3>Add item to Wish List</h3>
</div>

<div class="text-center">
<form asp-action="create">
    <input asp-for="Description" />
    <span asp-validation-for="Description"></span>
    <button type="submit">Add Item</button>
</form>
</div>